@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<html>

<head>
    <style>
        .parallax {
            /* The image used */
            background-image: url("../Content/Images/calories.png");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <br />
</head>
<body>
    <div>
       
    </div>

    <div class="parallax"></div>
    <br/>
    <div style="height:1700px;background-color:lightblue;font-size:26px">
        <h1>About Us</h1>
        <br />
        
        <p1>
            We are a website dedicated towards making caloric counting as simple and easy as possible.
            <br />
            We try to do our best with making this as streamlined as possible.
            <br />
            Our research indicates that most Americans today do not pay enough attention to what they are eating and putting into their systems.
            <br /><br/>
            Our goal is to promote a better society in which people are more aware of the consequences of their actions if they continue to neglect their caloric intake.
            <br />
        </p1>
        <br />
        <h1 style="header" class="text-center">Why Calories?</h1><br />
        <!--<img src="~/Content/Images/calories.png" alt="Stock image of Calories" class="center-block" /><br /><br />-->
        <p>
         Calories are unique as they are the secret to weight gain or weight loss
        </p>
        <p>Caloires are a measurement of the amount of energy the food can provide to a human body.</p><br/>
        <p>When a person eats more caloires then needed, the energy from the Calories is stored into the body as fat.</p><br/>
        <p>Thus, more calories equals more fat.  This can work both ways in which a person that eats less calories than needed will lead to breaking down of stored fat in the body.</p>
        <p>A sure way to lose weight is with exercise as this uses a lot of the stored energy(fat) inside the body.</p><br/>
        <p>So eat less and workout everyday. Simple, right?  It would be if the American diet was not loaded with calories that make it difficult for the average person to comitt to a weight loss program.</p>
        <p2>
            <br />
            The offical daily recommended Caloric intake is estimated to be around 2,000 calories.
            <br />
            Most foods and espcially drinks today are <strong>loaded with calories</strong> and lets not get started on the amount of sugars too.
        </p2>
        </div>
</body>
</html>